body{
    background-color: rgb(255, 255, 255);
}
.nav-link{
    font-size: 15px !important;

}
.text-black{
    color: black !important;
}
.login-nav{
    width: 80px !important;
    border-radius: 18px;
    color: #17bee2 !important;
    background-color: white;
    border: 2px solid #17bee2 !important;
}
.signup-nav{
    width: 80px !important;
    color: white;
    border-radius: 18px;
    background-color: #17bee2 !important;
}
.welcome-title{
    font-family: ProximaNova;
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}
.Sell-bus-travel-tick{
    font-family: ProximaNova;
    font-size: 25px;
    line-height: 1.39;
    color: #060606;
}
input {
    padding:10px;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #17bee2;
      &::placeholder{
          color: #17bee2 !important ;
          font-size: 15px;
      }
  }
  .position-absolute{
      position: absolute;
      top: -10px;
      right: 0;
      z-index: -1;
      .image-right{
          width: 100%;
      }
  }
  .search-bar{
      border-radius: 35px;
  }
  .Find-by-tags{
    font-family: ProximaNova;
    font-size: 40px;
    font-weight: 600;
    line-height: 2.13;
    color: #000000;
  }
  .fa-search{
      color: #17bee2;
  }
  .find-tag-btn{
      color: grey !important;
      font-weight: 500;
      border: 1px solid grey !important;
      border-radius: 30px !important;
      &:hover{
        color: #17bee2 !important;
        font-weight: 500;
        border: 1px solid #17bee2 !important;
        border-radius: 30px !important;
      }
  }
  .See-the-best{
    font-family: ProximaNova;
    font-size: 40px;
    font-weight: 600;
    line-height: 2.13;
    color: #000000;
  }
  .fas{
      color: rgb(192, 191, 191) !important;
  }
  .Orange-Juice{
    font-family: Appetite !important;
    font-size: 27px !important;
    font-weight: 700 !important;
    font-style: italic !important;
    line-height: 1.11 !important;
    text-align: center !important;
    color: #bbbbbb !important;
  }
  .Orange-Juice1{
    font-family: ProximaNova !important;
    font-size: 18px !important;
    font-weight: 700 !important;
    text-align: center !important;
    color: #000000 !important;
  }

  .Sell-bus-travel{
    font-family: ProximaNova !important;
    font-size: 14px !important;
    line-height: 1.43 !important;
    text-align: center !important;
    color: #898484 !important;
  }
  .fa-paper-plane{
      color: #17bee2 !important;
  }
  .position-absolute1{
    position: absolute;
    top: 400px;
    left: 0;
    z-index: -1;
    .Image_right{
        width: 550px;
        height: 450px;
    }
}
.Contact-Us{
    font-family: ProximaNova;
    font-size: 50px;
    font-weight: bold;
    line-height: 1.06;
    color: #000000;
}
.contact-form{
    input {
        padding:10px;
          font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
          color: gray;
          &::placeholder{
              color: gray !important ;
              font-size: 15px;
          }
      }
      .fa-send {
          color: #17bee2;
      }
}
.footer{
    background-color: #111111;
    .footer-links{
        a{
        color: white !important;
        text-decoration: none;
        }
    }
    
    .fa{
        color: white !important;
    }
}
.position-absolute2{
    position: absolute;
    bottom: -850px;
    right: 100px;
    z-index: -1;
    .Image_right{
        width: 550px;
        height: 550px;
    }
}

.contact-form1{
    input {
        padding:10px;
          font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 12px !important;
          text-decoration: inherit;
          background-color: #111111;
          &::placeholder{
              color: white !important ;
              font-size: 12px;
          }
          &:active{
              color: #111111 !important;
          }
      }
      .btn-sm{
          background-color: #17bee2;
          color: white;
          border-radius: 30px;
      }
}

.position-absolute3{
    position: absolute;
    top: -10px;
    right: 0;
    z-index: -1;
}
.Search{
    font-family: ProximaNova;
    font-size: 80px;
    font-weight: bold;
    line-height: 1.06;
    color: #000000;
}
.Search-Result{
    font-family: ProximaNova;
    line-height: 1.39;
    color: #060606;
}
.filter_section{

.Filter{
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.39;
    color: #060606;
}
.Select{
    font-family: ProximaNova;
    font-size: 14px;
    color: #000000;
}
.fa-map-marker{
    color: #17bee2 !important;
}
.Destination{
    font-family: ProximaNova;
    font-size: 14px;
    color: #a5a5a5 !important;
}
.fas{
    color: #a5a5a5 !important;
}
.date{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
}
.Title{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.79;
    color: #060606;
}
.Clear{
    font-family: ProximaNova;
    font-size: 13px;
    color: #17bee2;
}
.Lorem-ipsum{
    font-family: ProximaNova;
    font-size: 14px;
    color: #a5a5a5;
}
.Dolor-Sit-amet{
    font-family: ProximaNova;
    font-size: 14px;
    font-weight: 600;
    color: #080808;
}
.Lorem-ipsum-Copy{
    font-family: ProximaNova;
    font-size: 14px;
    color: #a5a5a5;
}
.search-button{
    width: 120px;
    color: white;
    background-color: #17bee2;
    border-radius: 35px;
}
.fa-search{
    color: white;
}
}